*{
    margin: 0px;
    padding: 0px;
}

section{width: 100%;}
.start,.One_player,.Two_player{
    margin: 5rem auto;
    border: solid;
    width: 500px;
    height: 510px;
    border-radius: 10px;
    background-color: #f9ca24;
    box-shadow:  0 14px 20px 9px rgba(17, 17, 17, 0.897);
}
.One_player,.Two_player{margin: 1rem auto;}
.ecran{
    border: solid;
    margin: 1rem auto;
    width: 450px;
    height: 470px;
    background: radial-gradient(circle,#235010,#081a00);
}
.ecran h2{
    color: white;
    font-size: 40px;
    margin-top: 6rem;
    line-height: 45px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type=checkbox]{
    display: none;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: .5rem;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 35px;
    line-height: 100px;
}
label:hover{
    border: dashed 2px;
    border-radius: 30%; 
}
a{
    text-decoration: none;
    color: white;
}

/* --------------------------one player & Two player----------------------------- */
.One_player,.Two_player{
    height: 510px;
    width: 500px;
}
.One_player .ecran,.Two_player .ecran{
    height: 420px;
    width: 470px;
    margin-top: 0px;
}
.One_player .one_1,.Two_player .one_1{
    padding: 3px;
    width: 100px;
    display: inline-block;
    font-size: 15px;
    text-align: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.One_player .one_1::first-letter{margin-right: 3rem;}
.Two_player .one_1::first-letter{margin-right: 3rem;}
.One_player .one_1:last-of-type::first-letter{margin-right: 0rem;}   
.Two_player .one_1:last-of-type::first-letter{margin-right: 0rem;}   
.One_player .one_1:last-of-type,.Two_player .one_1:last-of-type{
    float: right;
    margin-top: 10px;
}
.One_player .one_1:first-of-type{margin-left: 3.8rem;}
.Two_player .one_1:first-of-type{margin-left: 3.8rem;}
    

.One_player .one_1:nth-of-type(2),.Two_player .one_1:nth-of-type(2){
    border-left: solid 1px;
    margin-top: 4px;
}
.note,.note_0{
    position: relative;
    z-index: -20;
    top: 2rem;
    left: 29rem;
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: turquoise;
}
.note{left:28rem;}
table{
    height: 400px;
    width: 420px;
    border-collapse: collapse;
    color: white;
    margin: 12px;
    margin-left: 20px;
}
td{
    border: solid; 
    width: 50px;
}
tr:first-of-type td{border-top: none;border-left: none;}
tr:nth-of-type(2) td{border-left: none;border-bottom: none;}
tr:last-of-type td{border-bottom: none;border-left: none;}
tr:first-of-type td:last-of-type{border-right: none;}
tr:last-of-type td:last-of-type{border-right: none;}
tr:nth-last-of-type(2) td:last-of-type{border-right: none;}




@media (max-width:1350px){
    .note{left: 26.5rem;}
    .note_0{display: 23.5rem;}
}
@media (max-width:1300px){
    .note{left: 25.5rem;}
    .note_0{left: 24.5rem;}
}
@media (max-width:1180px){
    .note{left: 21.5rem;}
    .note_0{left: 22rem;}
}
@media (max-width:1080px){
    .note{left: 20.5rem;}
    .note_0{left: 19.4rem;}
}
@media (max-width:980px){
    .note{left: 15.5rem;}
    .note_0{left: 15.4rem;}
}
@media (max-width:930px){
    .note{left: 15.5rem;}
    .note_0{left: 13.4rem;}
}

@media (max-width:858px){
    .start,.One_player,.Two_player{
        width: 400px;
        height: 440px;
    }
    .ecran{
        width: 360px;
        height: 390px;
        margin: 1rem auto;
    }
    .One_player .ecran,.Two_player .ecran{
        height: 380px;
        width: 380px;
    }
    label{
        font-size: 20px;
        margin-left: 2rem;
    }
    .ecran h2{
        font-size: 35px;
        margin-top: 6rem;
        line-height: 40px;
    }
    table{
        height: 360px;
        width: 360px;
        margin-left: 5px;
    }
    .note{left: 4rem;}
    .note_0{left: 4.4rem;}
    .One_player .one_1:first-of-type{margin-left: 1rem;}
    .Two_player .one_1:first-of-type{margin-left: 1rem;}
}